**/.idea/
**/cmake-build-debug/
**/__pycache__/
**/.obsidian/
**/out/
**/target/
**/build/
**/.ipynb_checkpoints/
**/.vscode/
**/_build/
**/.generated/

data/games_original.csv

*.mp4
*.avi
*.tmp
*.pyc
*.o
*.tsv

# LaTeX files
*.aux
*.log
*.synctex.gz
*.out
